
# File extensions to ignore

*.json
*.txt
*.code-workspace

# Folders to ignore
test/*
.vscode/*
txt/*

# Files to ignore

enunciado
convert
budget
month
out
main-lista*

# Exceptions

!budgets.txt
!spent.txt
